{%extends 'nav.html'%}
{% load static %}
{%block head%}
<link rel="stylesheet" href="{% static 'detailStyle.css' %}" type="text/css" />
{%endblock%}
{%block contents%}
<br><br><br>
<div class="sub_container detail" style="width: 70%;">
    <div class="article" style="font-size: 2em;">
        Detail Report
    </div>
    <div class="article right">
        💗 {{room.author}}&nbsp;&nbsp; / &nbsp;&nbsp;{{room.updated_at|date:"Y.m.d"}} &nbsp;&nbsp; {{room.updated_at|date:"P"}} 💗
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="article">
        <table class="report_table" style="text-align: center;">
            <tr>
                <td width="170px" style="text-align: center; color:#93cbff;">주거형태 &nbsp;/&nbsp; 계약형태</td>
                <td style="text-align: center;">{{room.roomType}} &nbsp;&nbsp;/&nbsp;&nbsp; {{room.contractType}}</td>
            </tr>
            <tr>
                <td style="text-align: center; color:#93cbff;">주소</td>
                <td style="text-align: center;">{{room.address1}} {{room.address2}} {{room.address3}}</td>
            </tr>
        </table>
        <br>
        <table class="report_table">
            <tr>
                <td style="text-align: center; color:#93cbff;">제보내용</td>
            </tr>
            <tr>
                <td style="text-align: center;">{{room.content}}</td>
            </tr>
        </table>
    </div>
    <!-- <div class="article content">
        <p>제보내용</p>
        <p>{{room.content}}</p>
    </div> -->
    <div class="article">
        {% if user == room.author %}
        <a class="page_btn" href="{% url 'update' room.id %}">Update</a>
        <a class="page_btn" href="{% url 'delete' room.id %}">Delete</a>
        {% endif %}
    </div>
    <br>
</div>
<br>
<div class="sub_container detail" style="width: 70%;">
    <div class="article" style="font-size: 2em;">
        Comment
    </div>
    <div class="article" style="font-size: 2em;">
        {% if user.is_authenticated %}
        <form method="POST" action="{% url 'create_comment' room.id %}">
            {% csrf_token %}
            <table class="comment_table">
                <tr>
                    <td>
                        <textarea class="select" name="comment" placeholder="댓글을 입력하세요"></textarea>
                    </td>
                    <td width="120px">
                        <input type="submit" class="select submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
        {% endif %}
    </div>
    <div class="article comment">
        {% for comment in room.comment_set.all %}
        <p>
            💙&nbsp;&nbsp; {{comment.author}}&nbsp;&nbsp; >> &nbsp;&nbsp;{{comment.content}}
            {% if user == comment.author %}
            <a class="comment_btn" href="{% url 'delete_comment' room.id comment.id %}" style="text-decoration: none;">삭제</a>
            {% endif %}
        </p>
        {% endfor %}
        <br>
    </div>
</div>
{%endblock%}