{%extends 'nav.html'%}
{% load static %}
{%block head%}
<link rel="stylesheet" href="{% static 'selectStyle.css' %}" type="text/css" />
<!-- 도로명 주소 API -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
<style>
    .address_form {
        width: 200px;
        margin: 5px;
    }

    .search {
        padding: 5px;
        border-radius: 5px;
    }

    .search:hover {
        color: #222;
        background-color: white;
    }
</style>
{%endblock%}
{%block contents%}
<br><br><br>
<div class="sub_container radius" style="width: 70%;">
    <form action="{% url 'create' %}" method="post">
        {%csrf_token%}
        <div class="form" style="font-size: 2em;">
            Report GhostRoom
        </div>
        <div class="form">
            계약형태 &nbsp;&nbsp;
            <select class="select" name="contract">
                <option value="전세">전세</option>
                <option value="월세">월세</option>
                <option value="기타">기타</option>
            </select> &nbsp;&nbsp;&nbsp;

            주거형태 &nbsp;&nbsp;
            <select class="select" name="room">
                <option value="원룸">원룸</option>
                <option value="투룸/빌라">투룸/빌라</option>
                <option value="오피스텔/도시형생활주택">오피스텔/도시형생활주택</option>
                <option value="아파트">아파트</option>
                <option value="사무실">사무실</option>
                <option value="기타">기타</option>
            </select>
        </div>
        <div class="form" style="text-align: left;">
            <!-- 주소와 우편번호를 입력할 <input>들을 생성하고 적당한 name과 class를 부여한다 -->
            도로명주소&nbsp;&nbsp;<input type="text" name="address1" class="postcodify_address address_form select" style="width: 300px;"/>
            <a id="postcodify_search_button" class="select search">검색</a><br/>
            상세주소 1&nbsp;&nbsp;<input type="text" name="address2" class="postcodify_extra_info address_form select"/><br/>
            상세주소 2&nbsp;&nbsp;<input type="text" name="address3" class="postcodify_details address_form select"/><br/>
        </div>
        <div class="form">
            💙 제보내용 💙<br><br>
            <textarea name="content" placeholder="매물이 올라온 URL 이나 매물 상세내용을 적어주시면 도움이 됩니다."></textarea>
        </div>
        <div class="form">
            <input type="submit" value="제출하기" class="select submit">
        </div>
    </form>
</div>
<script>
    $(function () {
        $("#postcodify_search_button").postcodifyPopUp();
    });
</script>
{%endblock%}